@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/NunitoSans.ttf") format("truetype");
}

@font-face {
  font-family: "Pixeloid Sans";
  src: url("./assets/fonts/PixeloidSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --text-sm: 20px;
  --text-base: 24px;
  --text-lg: 32px;

  --font-sans: "Nunito Sans", Arial, sans-serif;
  --font-pixelated: "Pixeloid Sans", sans-serif;
  --color-primary-bg: #262626;
  --color-secondary-bg: #363636;
  --color-text: #efefef;
  --color-accent: #36ebff;
  --color-dark-blue: #060b25;
  --color-light-blue: #050c98;
  --color-accent-secondary: #f6417b;
}

:root {
  @apply bg-primary-bg text-text text-base;
}
