[project]
name = "hackathon-ideas-generator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "langchain[google-genai]>=1.2.0",
    "langgraph>=1.0.5",
]
